@model Advertisement

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> @Model.Title</title>
    <link rel="stylesheet" href="~/css/detail.css">
</head>


<body>
    <div class="container">
        <img src="@Model.ImageUrl" alt="@Model.Title " class="article-image" loading="lazy">
        <h1 class="article-title"> @Model.Title</h1>
        <p class="@Model.Content">
            @Model.Content
        </p>
        <h6> <b>قیمت :</b>  @Model.Price  </h6>

        <h6><b>نام منتشر کننده اگهی  :</b> @Model.User?.FirstName @Model.User?.LastName</h6> 
        <h6><b> اطلاعات تماس :</b> @Model.User?.PhoneNumber</h6> 


        <div class="button-group">
            <a class="btn" asp-action="Index">Back to list</a>
            @if (Context.Session.GetInt32("UserId") == Model.UserId && Context.Session.GetString("UserEmail") != null)
            {
                <a class="btn" asp-action="Edit" asp-controller="Home" asp-route-id="@Model.Id">Edit post</a>
                <a class="btn btn-delete" asp-action="Delete" asp-controller="Home" asp-route-id="@Model.Id">Delete post</a>
            }
        </div>



    </div>
</body>
</html> 

