@{
    Layout = null;
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Divar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Divar.styles.css" asp-append-version="true" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فروشگاه وسایل دسته دوم</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="~/css/Layout.css" />
</head>






<header>
    <h1> اگهی ها</h1>
    <nav>
        <ul>
            <li><a asp-action="Login" asp-controller="user"> Login</a></li>
            <li class="dropdown">
                <button> Category </button>
                <div class="dropdown-content">

                    <ul>
                        @foreach (var category in ViewBag.Categories)
                        {
                            <li>
                                <a href="@Url.Action("Index", new { category = category })">@category</a>
                            </li>
                        }
                    </ul>


                </div>
            </li>

            <li>
            <li> <a asp-action="Create" asp-controller="Home">add post</a></li>
            </li>

        </ul>
    </nav>
</header>








<div class="search-container">
    <input type="text" class="search-input" placeholder="جستجو..." aria-label="serch">
    <button class="search-button">serch</button>
</div>



<main>
    <div class="article-container">
        @foreach (var advertisement in Model)
        {
            <div class="article">
                <a style="text-decoration: none" asp-action="Detail" asp-route-id="@advertisement.Id">
                    <img src="@advertisement.ImageUrl" alt="@advertisement.Title" />
                    <h3>@advertisement.Title</h3>
                </a>
            </div>
        }
    </div>
</main>

<br />


<div>
    <nav>
        <ul class="pagination d-flex justify-content-center">
            @if (ViewBag.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage - 1, category = ViewBag.CurrentCategory })">Previous</a>
                </li>
            }

            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = i, category = ViewBag.CurrentCategory })">@i</a>
                </li>
            }

            @if (ViewBag.CurrentPage < ViewBag.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage + 1, category = ViewBag.CurrentCategory })">Next</a>
                </li>
            }
        </ul>
    </nav>
</div>
