@model Divar.ViewModel.AdminPanel
@{
    Layout = null;
}

@{
    ViewData["Title"] = "Dashboard";
}


<link rel="stylesheet" href="~/css/admin.css">


<b>
    
    <h1 style="text-align: center;">
        List of Advertisements
    </h1>

    <div style="text-align: center;">
        <a asp-controller="Home" asp-action="Index">Go to app</a>
    </div>

</b>



<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Content</th>
            <th>ImageUrl</th>
            <th>Price</th>
            <th>Created Date</th>
            <th>IsAvailable</th>
            <th>Category</th>
            <th>User CeaterId</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var ad in Model.Advertisements)
        {
            <tr>
                <td>@ad.Id</td>
                <td>@ad.Title</td>
                <td>@ad.Content</td>
                <td>@Html.DisplayFor(m => ad.ImageUrl)</td>
                <td>@ad.Price</td>
                <td>@ad.CreatedDate</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@ad.Id"> @ad.IsAvailable </a>
                 </td>

                <td>@ad.Category</td>
                <td>@ad.UserId</td>

            </tr>
        }
    </tbody>
</table>


<br />
<hr />



<b>
    <h1 style="text-align: center;">
        List of Users
    </h1>
</b>


<table>
    <thead>
        <tr>
            <th>Id "click for delete User"</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>PasswordHash</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usr in Model.Users)
        {
                <tr>
                    <td><a asp-action="DeleteUser" asp-route-id="@usr.Id"> @usr.Id</a></td>
                    <td>@usr.FirstName</td>
                    <td>@usr.LastName</td>
                    <td>@usr.Email</td>
                    <td>@usr.PhoneNumber</td>
                    <td>@usr.PasswordHash</td>
                </tr>
        }
    </tbody>
</table>
